.footer{
    background-color: #1D242F;

    .footer__responsiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
        position: fixed;
        bottom: 0;
        margin-top: 15px;
        background-color:#FFF;
        width: 100%;

     .footer__top{
     padding-top: 64px;
     padding-bottom: 48px;
     display: flex;
      justify-content: space-between;
     .footer__top--contact{
      width: 320px;
     h2{
       
        font-size: 35px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
        margin-bottom: 20px;
     }

     p{
        font-weight: 500;
        font-size: 14px;
     }

     a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: #FFF;
     }

     span{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
     }

     .working__time{
        font-size: 16px;
        font-weight: 700;
     }
   }



    .payment{
    h4{
        font-size: 14px;
        color: #FFF;
        font-weight: 700;
    }
   .payment__box--group{
    width: 341px;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    .payment__box{
        width: 144px;
        height: 53px;
        background-color: #222C3A;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding: 5px 10px;
            width: 100%;
            height: 100%;
        }
    }
   }
   }

   .footer__nav{
    display: flex;
    justify-content: space-between;
    gap: 32px;

    .data{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 16px;
        h3{
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items:start;
            gap: 12px;
            list-style: none;
            transition: all 0.4s ease-out;

            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #FFF;
                opacity: 0.5;

                &:hover{
                    color: #0364ff;
                }
            }
        }
    }

    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        h3{
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: column;
            // align-items:;
            gap: 12px;
            list-style: none;

            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #FFF;
                opacity: 0.5;
                transition: all0.4s ease-out;

                &:hover{
                    color: #0364ff;
                }
            }
        }
    }

    .buyers{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 16px;

        h3{
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: column;
            // align-items:start;
            gap: 12px;
            list-style: none;

            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #FFF;
                opacity: 0.5;
                transition: all 0.4s ease-out;

                &:hover{
                    color: #0364ff;
                }
            }
        }
    }
   }
   }

   .footer__bottom{
        background-color: #222C3A;
        padding: 30px 0px;

        .footer__bottom--container{
            display: flex;
            justify-content: space-between;
         align-items: center;

         span{
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
         }

         .social{
            display: flex;
            gap: 24px;
            align-items: center;
             i{
                color: #FFF;
                font-size: 24px;
             }
        }
        }
   }
        
        .footer__responsiv--item{
            display: flex;
            flex-direction: column;
            align-items: center;


            i{
                font-size: 24px;
                color:#70777e;
            }

            p{
                font-size: 12px;
                font-weight: 400;
                color:#70777e;
            }

         
        
     }

     .footer__responsiv--color{
        i{
            color:#d92e15;
        }

        p{
            color: #d92e15;
        }
     }
}
.footer__top{
    padding-top: 64px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
   .footer__top--contact{
    width: 320px;
    h2{
       
        font-size: 35px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
        margin-bottom: 20px;
     }

     p{
        font-weight: 500;
        font-size: 14px;
     }

     a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: #FFF;
     }

     span{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
     }

     .working__time{
        font-size: 16px;
        font-weight: 700;
     }
   }



.payment{
    h4{
        font-size: 14px;
        color: #FFF;
        font-weight: 700;
    }
   .payment__box--group{
    width: 341px;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    .payment__box{
        width: 144px;
        height: 53px;
        background-color: #222C3A;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding: 5px 10px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        #click{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
   }
   }

   .footer__nav{
    display: flex;
    justify-content: space-between;
    gap: 32px;

    .data{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 16px;
        h3{
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items:start;
            gap: 12px;
            list-style: none;

            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #FFF;
                opacity: 0.5;
            }
        }
    }

    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        h3{
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: column;
            // align-items:;
            gap: 12px;
            list-style: none;

            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #FFF;
                opacity: 0.5;
            }
        }
    }

    .buyers{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 16px;

        h3{
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: column;
            // align-items:start;
            gap: 12px;
            list-style: none;

            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #FFF;
                opacity: 0.5;

               
            }
        }
    }
   }
   }

   .footer__bottom{
        background-color: #222C3A;
        padding: 30px 0px;

        .footer__bottom--container{
            display: flex;
            justify-content: space-between;
         align-items: center;

         span{
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
         }

         .social{
            display: flex;
            gap: 24px;
            align-items: center;
             i{
                color: #FFF;
                font-size: 24px;
             }
        }
        }
   }
}